    <%- include('includes/header.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>

    <div class="w3-content" style="max-width:2000px;margin-top:46px">
    <h1><%= content%></h1>
    </div>
    <%- include('includes/footer.ejs') %>